---
import ghostImage from '@/assets/images/ghost.png'

import { Image } from 'astro:assets'
import {
    GithubIcon,
    MailIcon,
    MinusIcon,
    MusicIcon,
    SquareIcon,
    TwitterIcon,
    XIcon,
} from 'lucide-react'
import { Button } from '@/components/ui/button'
import type { MyMetadata } from '@/lib/content'
import type { LastFmTrack } from '@/lib/last-fm'

interface Props {
    metadata: MyMetadata
    lastTrackListened: LastFmTrack | null
}

const { metadata, lastTrackListened } = Astro.props
---

<div
    class="absolute top-1/2 -translate-1/2 left-1/2 group max-w-[400px] min-w-70 w-full max-lg:top-2/4"
>
    <div
        id="infoCardUnderLayer"
        class="absolute w-full h-full bg-background/30 border backdrop-blur-xl rounded-xl -left-5 -bottom-5 transform-[scale(0)]"
    >
    </div>

    <div
        id="infoCard"
        class="relative p-8 max-sm:p-4 w-full bg-background/40 border backdrop-blur-xl rounded-xl font-mono text-lg transform-[scale(0)]"
    >
        <header class="flex items-center gap-x-4.5 mb-3.5">
            <div
                class="bg-foreground/3 border rounded-lg w-16 h-16 flex items-center gap-x-3 justify-center"
            >
                <Image
                    src={ghostImage}
                    alt="Ghost pixel art"
                    width={54}
                    height={43}
                    class="h-8 w-10"
                />
            </div>

            <dl>
                <dt class="inline font-bold">Status:</dt>

                <dd class="inline">{metadata.personStatus}</dd>
            </dl>
        </header>

        <dl class="mb-6">
            <div class="mb-2">
                <dt class="inline font-bold">Health:</dt>

                <dd class="inline">{metadata.health}/100</dd>
            </div>

            <div>
                <dt class="inline font-bold">Age:</dt>

                <dd class="inline">{metadata.age}</dd>
            </div>
        </dl>

        {
            lastTrackListened && (
                <a href={lastTrackListened.url} target="_blank">
                    <div class="text-sm border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground dark:bg-input/30 dark:border-input dark:hover:bg-input/50 rounded-md w-full p-3 flex items-center gap-x-3.5 mb-3">
                        <MusicIcon strokeWidth={1} className="shrink-0" />
                        {lastTrackListened.artist['#text']} - {lastTrackListened.name}
                    </div>
                </a>
            )
        }

        <div class="flex items-center gap-x-2">
            <a
                target="_blank"
                href="https://github.com/one-with-violets-in-her-lap"
                aria-label="Github profile"
            >
                <Button
                    size="icon"
                    variant="outline"
                    className="hover:cursor-pointer"
                    aria-label="Open Github"
                >
                    <GithubIcon />
                </Button>
            </a>

            <a
                target="_blank"
                href="https://twitter.com/strawmans"
                aria-label="Twitter profile"
            >
                <Button
                    size="icon"
                    variant="outline"
                    className="hover:cursor-pointer"
                    aria-label="Open Twitter"
                >
                    <TwitterIcon />
                </Button>
            </a>

            <a
                target="_blank"
                href="mailto:sleep.posted514@passinbox.com"
                aria-label="Mail"
            >
                <Button
                    size="icon"
                    variant="outline"
                    className="hover:cursor-pointer"
                    aria-label="Open mail"
                >
                    <MailIcon />
                </Button>
            </a>
        </div>

        <div class="absolute top-2 right-2 flex items-center gap-x-1">
            <Button size="icon" variant="ghost" className="w-6 h-6">
                <MinusIcon />
            </Button>

            <Button size="icon" variant="ghost" className="w-6 h-6">
                <SquareIcon />
            </Button>

            <Button size="icon" variant="ghost" className="w-6 h-6">
                <XIcon />
            </Button>
        </div>
    </div>
</div>

<script>
    import { animate } from 'motion'

    animate(
        '#infoCardUnderLayer',
        {
            scale: 1,
        },
        { duration: 0.2, delay: 0.54 },
    )

    animate(
        '#infoCard',
        {
            scale: 1,
        },
        { duration: 0.4, type: 'spring', delay: 0.6 },
    )
</script>
