---
import musicNoteImage from '@/assets/images/music-note.png'

import { Button } from '@/components/ui/button'
import type { Song } from '@/lib/content'
import { Image } from 'astro:assets'

interface Props {
    song: Song
}

const { song } = Astro.props
---

<article
    class="not-first:mt-8 border-y p-4 flex items-stretch gap-x-7 max-md:gap-x-5 max-sm:px-0"
>
    {
        song.thumbnail ? (
            <img
                class="w-26 h-26 max-sm:w-18 max-sm:h-18 shrink-0 object-cover bg-accent rounded-lg shadow-2xl shadow-black/20"
                src={song.thumbnail.asset.url + '?auto=format&w=120&h=120'}
                alt={`Song thumbnail - ${song.name}`}
            />
        ) : (
            <div class="w-26 h-26 max-sm:w-18 max-sm:h-18 shrink-0 bg-accent rounded-lg flex items-center justify-center">
                <Image
                    src={musicNoteImage}
                    alt="Test"
                    height={128}
                    width={128}
                    class="w-18 h-18 opacity-20"
                />
            </div>
        )
    }

    <div class="flex flex-col">
        <h3 class="scroll-m-20 mb-1.5 text-base font-semibold tracking-tight">
            {song.name}
        </h3>

        <div class="text-muted-foreground text-xs mb-4">
            {song.bitrateKbps} kbps _ {song.secondsDuration} seconds
        </div>

        <a target="_blank" href={song.audioFile.asset.url}>
            <Button
                size="sm"
                className="mt-auto w-fit hover:cursor-pointer"
                variant="outline"
            >
                <span>|></span>
                <span>Play</span>
            </Button>
        </a>
    </div>
</article>
